{% extends 'base.html' %}
{% block content %}
	<div class="container content_test" >
		<h1 class="text-center">THI SÁT HẠCH LÁI XE HẠNG A1 ONLINE</h1>
		<div class="row">
			<div class="col-xl-4 time">
				<div>Thời gian làm bài</div>
				<button class="btn btn-success">Kết thúc bài thi</button>
			</div>
			<div class="col-xl-6 question_body"   >
				{% for x in form%}
				<div style="display: none;" id="{{ x.id }}">
					<div class="question_number">câu hỏi {{x.id}}</div>
					<div class="question_name">{{ x.question}}</div>
					<form method="POST" action="" class="question_anser">
						<input type="checkbox" name="1">{{ x.anser1}} </br>
						<input type="checkbox" name="2">{{ x.anser2}} </br>
						<input type="checkbox" name="3">{{ x.anser3}} </br>
						<input type="checkbox" name="4">{{ x.anser4}}</br>
					</form>
				</div>
				{% endfor %}
				<div class="buton_direct">
					<button class="btn btn-info" id="btn_prev">Câu trước</button>
					<button class="btn btn-info float-right" id="btn_next" >Câu Sau</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/home.js'%}"></script>
</head>